<h4><%= @property.name %></h4>

<h5 class="mx-auto my-3" style="width: 80%;"><%= @property.introduction %></h5>

<div class="background">
  <% if @property.images.present? %>
    <div class="slider">
      <% @property.images.each do |image| %>
        <div class="slick-inner">
          <%= image_tag image.image.to_s, class: "mx-1 my-1" %>
          <div class="slider-text text-center"><%= image.explanation %></div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex justify-content-center p-3">
      <%= image_tag 'no_image.png', size: '250x250' %>
    </div>
  <% end %>
</div>


<table class="table table-bordered table-inverse">

  <tr>
    <th bgcolor="whitesmoke">住所</th>
    <td><%= @property.full_address_admins %></td>
    <th bgcolor="whitesmoke">交通</th>
    <td>
      <%= @property.nearest_railroad %>「<%= @property.nearest_station %>」
      <% if @property.transportation == 'walking' %>
        徒歩<%= @property.walking_time %>分
      <% elsif @property.transportation == 'bus' %>
        バス<%= @property.bus_time %>分　停歩<%= @property.walking_time %>分
      <% else %>
        車<%= @property.car_time %>分
      <% end %>
    </td>
  </tr>

  <tr>
    <th bgcolor="whitesmoke">販売区画数</th>
    <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).count %></td>
    <th bgcolor="whitesmoke">総区画数</th>
    <td><%= @land_percels.count %></td>
  </tr>

  <tr>
    <th bgcolor="whitesmoke">土地面積</th>
    <% if @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:area) == @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:area) %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:area) %>㎡</td>
    <% else %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:area) %>～<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:area) %>㎡</td>
    <% end %>
    <th bgcolor="whitesmoke">建ぺい率/容積率</th>
    <td><%= @property.building_coverage_ratio %>%/<%= @property.floor_area_ratio %>%</td>
  </tr>

  <tr>
    <th bgcolor="whitesmoke">価格</th>
    <% if @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:price) == @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:price) %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:price) %>万円（坪<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:price_tsubo) %>万円）</td>
    <% else %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:price) %>万円（坪<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:price_tsubo) %>万円）～<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:price) %>万円（坪<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:price_tsubo) %>万円）</td>
    <% end %>
    <th bgcolor="whitesmoke">土地状況</th>
    <td>
      <% if @property.land_use == false %>更地
      <% else %>古屋あり
      <% end %>
    </td>
  </tr>

  <tr>
    <th bgcolor="whitesmoke">道路幅</th>
    <% if @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:main_road_width) == @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:main_road_width) %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:main_road_width) %>m</td>
    <% else %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:main_road_width) %>～<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:main_road_width) %>m</td>
    <% end %>
    <th bgcolor="whitesmoke">間口</th>
    <% if @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:frontage) == @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:frontage) %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:frontage) %>m</td>
    <% else %>
      <td><%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).minimum(:frontage) %>～<%= @land_percels.where(sale_status: ['on_sale', 'sales_pending']).maximum(:frontage) %>m</td>
    <% end %>
  </tr>

</table>



<h4>土地区画情報</h4>

<h5 class="my-2">区画一覧</h5>
  <table class="table table-hover table-inverse">
    <thead class="text-center">
      <tr>
        <th class="px-0 align-middle" style="width: 80px;">区画名</th>
        <th class="px-0 align-middle" style="width: 80px;">面積</th>
        <th class="px-0 align-middle" style="width: 100px;">価格</th>
        <th class="px-0 align-middle" style="width: 110px;">土地形状</th>
        <th class="px-0 align-middle" style="width: 90px;">接道状況</th>
        <th class="px-0 align-middle" style="width: 110px;">主要道路幅</th>
        <th class="px-0 align-middle" style="width: 110px;">主要道路方角</th>
        <th class="px-0 align-middle" style="width: 80px;">間口</th>
        <th class="px-0 align-middle" style="width: 80px;">高低差</th>
        <th class="px-0 align-middle" style="width: 80px;">私道持分</th>
        <th class="px-0 align-middle" style="width: 100px;">販売状況</th>
        <th></th>
      </tr>
    </thead>

    <tbody class="text-center">
      <% @land_percels.each do |land_percel| %>
        <tr>
          <td class="px-0 align-middle"><%= land_percel.name %></td>
          <td class="px-0 align-middle"><%= land_percel.area %>㎡</td>
          <td class="px-0 align-middle">
            <%= land_percel.price %>万円</br>
            (坪<%= land_percel.price_tsubo %>万円)
          </td>
          <td class="px-0 align-middle"><%= land_percel.shape_i18n %></td>
          <td class="px-0 align-middle"><%= land_percel.connecting_road_situation_i18n %></td>
          <td class="px-0 align-middle"><%= land_percel.main_road_width %>m</td>
          <td class="px-0 align-middle"><%= land_percel.main_road_direction_i18n %></td>
          <td class="px-0 align-middle"><%= land_percel.frontage %>m</td>
          <td class="px-0 align-middle">
            <% if land_percel.difference_elevation == false %>無
            <% else %>有
            <% end %>
          </td>
          <td class="px-0 align-middle">
            <% if land_percel.private_road_burden == false %>無
            <% else %>有
            <% end %>
          </td>
          <% if land_percel.sale_status = 'on_sale' %>
            <td class="px-0 align-middle text-success font-weight-bold"><%= land_percel.sale_status_i18n %></td>
		      <% elsif land_percel.sale_status = 'sales_pending' %>
		        <td class="px-0 align-middle text-warning font-weight-bold"><%= land_percel.sale_status_i18n %></td>
		      <% else %>
		        <td class="px-0 align-middle text-muted font-weight-bold"><%= land_percel.sale_status_i18n %></td>
		      <% end %>
		      <td class="px-0 align-middle"><%= link_to '詳細', land_percel_path(land_percel.id), class:"btn btn-sm btn-primary px-0 w-75" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


